@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    ShoppingUmbraco.Models.Product product = new ShoppingUmbraco.Models.Product();
    HttpWebRequest request = (HttpWebRequest)WebRequest.Create("https://localhost:5001/api/Product/getProduct/" + Request.QueryString["id"]);
    request.Method = "GET";
    request.ContentType = "application/json";
    WebResponse response = request.GetResponse();
    using (var reader = new StreamReader(response.GetResponseStream()))
    {
        var ApiStatus = reader.ReadToEnd();
        var ob = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(ApiStatus);
        var oa = (object)ob.data;
        product = Newtonsoft.Json.JsonConvert.DeserializeObject<ShoppingUmbraco.Models.Product>(oa.ToString());
        var rg = new System.Text.RegularExpressions.Regex(@"(https?\:\/\/)");

        foreach (var item in product.ProductImages)
        {
            var isMat = rg.IsMatch(item.Image);
            if (!isMat)
            {
                item.Image = "https://localhost:5001" + item.Image;
            }
        }
    }
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    <div class="product-details row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-5">
            <input type="hidden" id="productId" value="@product.Id" />
            <div class="main-image">
                <img src="@product.ProductImages.FirstOrDefault().Image" alt="">
            </div>

            <div class="sub-image owl-carousel">
                @foreach (var item in product.ProductImages)
                {
                    <div class="sub-image-item">
                        <img src="@item.Image" />
                    </div>
                }
            </div>
        </div>

        <div class="col-12 col-md-7 col-lg-7 col-sm-12 product-infomation">
            <h1 class="title-product">@product.Name</h1>
            <div class="shopping-report mt-2">
                <div class="left-report d-flex">
                    <div class="star-rating item">
                        <span>5.0</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="rating-comment item">
                        1 Đánh giá
                    </div>
                    <div class="sales-report item">
                        2 Đã bán
                    </div>
                </div>
                <div class="right-report">
                    <a href="#">Tố cáo</a>
                </div>

            </div>

            @foreach (var item in product.ProductVariations)
            {


                <div class="product-price">
                    @if (item.PriceOld > 0)
                    {
                        <b class="old-price">@item.PriceOld</b>
                    }
                    <b class="current-price">@item.PriceCurrent</b>

                    <b class="sales-percent">@((int)((((item.PriceOld - item.PriceCurrent) / item.PriceOld))*100))% giảm</b>
                </div>
            }
            <table class="services-product w-100">
                <tbody>
                    <tr>
                        <td>Màu sắc</td>
                        <td>
                            <div class="d-flex flex-wrap">
                                @foreach (var item in product.ProductVariations.Where(x => x.VariationId == null))
                                {
                                    <div class="cb-custom">
                                        <input type="radio" name="color" class="" value="@item.Id" id="@("color"+item.Id)">
                                        <label for="@("color"+item.Id)">@item.Name  <span>v</span></label>
                                    </div>
                                }


                            </div>
                        </td>
                    </tr>
                    @if (product.ProductVariations.Where(x => x.VariationId != null).Count() > 0)
                    {
                        <tr>

                            <td>Kích thước</td>
                            <td>
                                <div class="d-flex flex-wrap">
                                    @foreach (var item in product.ProductVariations.Where(x => x.VariationId != null))
                                    {
                                        <div class="cb-custom">
                                            <input type="radio" name="size" class="" value="@item.Id" id="@("size" + item.Id)">
                                            <label for="@("size" + item.Id)">@item.Name  <span>v</span></label>
                                        </div>
                                    }
                                </div>
                            </td>

                        </tr>
                    }
                    <tr>
                        <td>Số lượng</td>
                        <td class="text-center d-flex align-items-center">
                            <input type="number" id="buyNumber" class="form-text buy-number" value="1" min="1" />
                            <span id="numberShowProduct" style="margin-left: 20px;font-size:15px">300 sản phẩm có sẵn</span>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="button-Product">
                <button class="btn addCart"><i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ hàng</button>
                <button class="btn buy">Mua ngay</button>
            </div>
        </div>
    </div>

    <div class="section row mt-3 infomation-product">
        <div class="col-12">
            <h4 class="mb-3">Mô tả sản phẩm</h4>
            <div>
                @Html.Raw(product.Description)
            </div>
        </div>
    </div>

    <div class="section mt-3 row">
        <div class="form-group col-12">
            <h4 class="mb-3">Đánh giá</h4>
            <div class="star-rating rating-post">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <textarea name="" class="form-control" id="ReviewerText" cols="30" rows="4"></textarea>
            @*<div class="comment-image-upload mt-2">
                    <p>Choose images</p>
                    <div class="area-image-upload">
                        <div class="image-show-before">

                        </div>
                        <div class="comment-image-select">
                            <label title="Upload image" for="PutFile"><i class="fa-brands fa-unsplash"></i></label>
                            <input type="file" multiple accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" name="" id="PutFile">
                        </div>
                    </div>
                </div>*@
            <button id="btnReviewer" class="btnct btn-shopee active mt-3">Bình luận</button>
        </div>
        <div class="comment-content col-12">
        </div>
    </div>
</div>

@section scripts{
    <script>
        //Loading Subimages
        $('.sub-image').owlCarousel({
            loop: false,
            nav: true,
            items: 5,
        });

        //Select Variation Product
        $('input[type=radio]').on('change', function (e) {
            $.ajax({
                url: `https://localhost:5001/api/ProductVariation/getProductVariationNumber?ProductId=${$('#productId').val()}&ProductVariationId=${$(this).val()}`,
                method: "GET",
                success: function (data) {
                    if (data.data.numbers > 0) {
                        $('#numberShowProduct').text(`${data.data.numbers} sản phẩm có sẵn`);
                    } else {
                        $('#numberShowProduct').text("Hết hàng");

                    }
                }
            })
        })

        //ADD AND BUY PRODUCT VIA CART

        $('.addCart').on('click', function () {
            addCart(false);
        })

        $('.buy').on('click', function () {
            addCart(true);
        })

        const addCart = (isBuy) => {
            $.ajax({
                cache: false,
                url: "https://localhost:5001/api/cart/insertCart",
                method: "POST",
                headers: {
                    "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    ProductId: $('#productId').val(),
                    ProductVarationId: $('input[type=radio][name=color]:checked').val(),
                    Number: $('#buyNumber').val()
                }),
                success: function (data) {
                    if (data.success) {
                        showAlert("success", "Thêm thành công");
                        if (isBuy) {
                            window.location.href = "/cart";
                        }
                    } else {
                        showAlert("error", data.message.join(','));
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status == 401) {
                        window.location.href = "/login";
                    } else {
                        if (xhr.status == 500) {
                            showAlert("error", "Vui lòng chọn phân loại")
                        }
                    }
                }
            });
        }

        //Rating

        const loadRating = () => {
            $.ajax({
                url: "https://localhost:5001/api/ProductRating/getProductRatingsByPid/" + $('#productId').val(),
                method: "GET",
                headers: {
                    "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                },
                success: function (data) {
                    if (data.success) {
                        $('.comment-content').html('');
                        data.data.forEach(appendRating)
                    }
                }

            })
        }

        loadRating();

        const appendRating = (data) => {
            let ratingStart = '';
            for (let i = 0; i < 5; i++) {
                if (i < data.rating)
                    ratingStart += ` <span class="fa fa-star checked"></span>`;
                else {
                    ratingStart += ` <span class="fa fa-star"></span>`;
                }
            }

            $('.comment-content').append(`
                                    <div class="comment-item">
                                            <div class="comment-avatar">
                                                <img src="https://cf.shopee.vn/file/791f6f42429d0e5293b58e4ea271c598_tn" alt="">
                                            </div>
                                            <div class="comment-description">
                                                <a>Thành cung</a>
                                                <div class="star-rating">
                                                    ${ratingStart}
                                                </div>
                                                <p>${data.description}</p>
                                            </div>
                                        </div>
                                        `)
        }

        $('.rating-post span').on('click', function () {
            let rating = 5 - Number.parseInt($(this).index());
            $('.rating-post span').removeClass('checked');
            for (let i = 1; i <= rating; i++) {
                $($('.rating-post span')[5 - i]).addClass('checked')
            }
        })


        let Images = [];
        $('#PutFile').on('change', function () {
            Array.from(this.files).forEach(file => {
                if (Images.findIndex(image => image.name == file.name) == -1) {
                    file.ObjectUrl = URL.createObjectURL(file);
                    Images.push(file);
                    $('.image-show-before').append(`

                                                            <div class="image-show-item">
                                                                        <img src="${file.ObjectUrl}" alt="">
                                                                        <span onclick='revokeImg(this)' class="close"><i class="fa-solid fa-xmark"></i></span>
                                                                    </div>
                                                            `)
                }
            })
        })

        $('#btnReviewer').on('click', function () {
            let reviewer = $('#ReviewerText').val();
            let ratingStar = $('.rating-post span.checked').length;

            $.ajax({
                url: "https://localhost:5001/api/ProductRating/insertProductRating",
                method: "POST",
                headers: {
                    "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    rating: ratingStar,
                    description: reviewer,
                    ProductId: $('#productId').val(),
                    ProductVariationId: $('input[type=radio][name=color]:checked').val(),
                }),
                success: function (data) {
                    if (data.success) {
                        $('.comment-content').append(`
                                    <div class="comment-item">
                                            <div class="comment-avatar">
                                                <img src="https://cf.shopee.vn/file/791f6f42429d0e5293b58e4ea271c598_tn" alt="">
                                            </div>
                                            <div class="comment-description">
                                                <a>Not Get User</a>
                                                <div class="star-rating">
                                                    ${ratingStar}
                                                </div>
                                                <p>${reviewer}</p>
                                            </div>
                                        </div>
                                        `)
                    }
                }
                , error: function (xhr) {
                    console.log(xhr);
                    if (xhr.status == 400) {
                        showAlert("error", "Bạn không có quyền bình luận");
                    }
                    if (xhr.status == 401) {
                        window.location.href = "/login"
                    }
                }

            })
        })

        //REVOKE IMAGE URL OBJECT

        const revokeImg = (item) => {
            let imgItem = $(item).closest('.image-show-item');
            let imgsrc = imgItem.children('img').attr('src');
            URL.revokeObjectURL(imgsrc);
            imgItem.remove();
            Images = Images.filter(image => image.ObjectUrl != imgsrc)
            console.log(Images);
        }
    </script>
}
